<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{pk}}</h1>
    <table border="1">
        <tr> 
            <td> pk </td> 
            <td> Series </td> 
            <td> description </td>    
            <td> actions </td>    
           
        </tr>
      
        {% for auth in object_list %}
        <tr>
            <td> {{ auth.pk }}</td> 
            <td><a href="/series-cbv/{{ auth.pk }}/"> {{ auth.series }} </a></td> 
            <td> {{ auth.series_description }} </td>   
              
            <td> <a href="/series-delete-cbv/{{ auth.pk }}/">  delete </a>
                 <a href="/series_update-cbv/{{ auth.pk }}/">  update </a>
            </td>   
        </tr>
        {% endfor %}
    </table>
    <a href="/series_create-cbv/"> Add </a>
    
  


</body>
</html>